<!--%import("./css/framework.css")-->
<!--%import("./css/layout.css")-->
<!--%import("./css/content.css")-->
<div id="xe" class="fixed">
	<div id="container" class="ec">
		<div id="header">
			<div id="gnb">
				<ul class="{$mid}">
					<li class="m1"><a href="{getUrl('','mid','contest')}">공모전 안내</a></li>
					<li class="m2"><a href="{getUrl('','mid','contestWay')}">참가방법</a></li>
					<li class="m3"><a href="{getUrl('','mid','contestRegistration')}">공모작 등록</a></li>
					<li class="m4"><a href="{getUrl('','mid','contestProposal')}">질문/답변<span class="ir">블로그</span></a></li>
				</ul>
			</div>
		</div>
		<div id="body">
			<div id="content">
				{$content}
			</div>
			<div class="extension e1">
				<div class="intro">
					<h1 class="ir">제3회 XE 사용자 공모전</h1>
					<p class="ir">1부  레이아웃/스킨 분야 XE, 디자인을 입다</p>
					<p class="ir date">접수일자 <span class="num">2012</span>년 <span class="num2">3</span>월 <span class="num3">30</span>일~ <span class="num4">8</span>월 <span class="num5">31</span>일</p>
					<a href="http://www.xpressengine.com/"><img src="img/buttonGoXe.gif" width="194" height="27" alt="Xpress Engine.com 사이트 가기" ></a>
				</div>
			</div>
		</div>
		<div id="footer">
			<address><a href="http://nhncorp.com"><span class="ir">NHN</span></a> <span class="ir">COPYRIGHT &copy; NHN CORP. ALL RIGHTS RESERVED</span></address>
		</div>
	</div>
</div>
