.DS_Store
Thumbs.db

config.user.inc.php
/files/
/build/

codeception.yml
/tests/_output/
/tests/_support/*Tester.php
/tests/_support/_generated/
/tests/*.suite.yml
/doxygen/dist

/node_modules/
/bower_components/
/vendor/
composer.phar
composer.lock

.idea
*.sublime-workspace
*.sublime-project
.codeintel

install.config.php
