{@$imc=!($act=='IS'||$act=='dispProjectAccountManage'||strpos($act,'Member')!==false||strpos($act,'Communication')!==false)}
<load target="css/bootstrap.min.css" />
<load target="css/plugins.css" />
<load target="css/main.css" />
<load target="css/themes.css" />
<load target="css/xev4.css" />

<load target="js/vendor/bootstrap.min.js" type="body" />
<load target="js/plugins.js" type="body" />
<load target="js/app.js" type="body" />
<load target="js/vendor/modernizr-2.7.1-respond-1.4.2.min.js" />

<div id="page-container" class="header-fixed-top style-alt">
	<!-- Main Container -->
	<div id="main-container" class="container">
		<header class="navbar navbar-default navbar-fixed-top" role="navigation">
			<div class="container">
				<div class="navbar-header pull-left">
					<a class="navbar-brand" href="./"><img src="img/bi.png" alt="XpressEngine"></a>
				</div>

				<div class="collapse navbar-collapse pull-left visible-lg">
					<ul class="nav navbar-nav">
						{@$m=1;}
						<li loop="$main_menu->list=>$key1,$val1" class="<!--@if($val1['list'])-->dropdown<!--@endif-->">
							<a href="{$val1['href']}" class="<!--@if($val1['selected'])-->active<!--@endif--> <!--@if($val1['list'])-->dropdown-toggle<!--@endif-->" data-toggle="dropdown"|cond="$val1['list']">{$val1['link']} <b cond="$val1['list']" class="caret"></b></a>
							<ul class="dropdown-menu" cond="$val1['list']">
								{@$s=1;}
								<li loop="$val1['list']=>$key2,$val2" class="s{$s++}">
									<a href="{$val2['href']}" cond="$val2['text']" class="active"|cond="$val2['selected']">{$val2['link']}</a>
								</li>
							</ul>
						</li>
					</ul>
				</div>
				<div class="pull-right">
					<ul class="nav navbar-nav-custom">
						<!-- User Dropdown -->
						{@ $oMemberModel = getModel('member')}
						{@ $profileImage = $oMemberModel->getProfileImage($logged_info->member_srl)->src}
						<li class="dropdown">
							<a data-toggle="dropdown" class="dropdown-toggle" href="javascript:void(0)">
								<img cond="$is_logged" alt="avatar" src="{$profileImage}">
								<block cond="!$is_logged">로그인</block>
								<i class="fa fa-angle-down"></i>
							</a>
							<ul id="member-menu-container" class="dropdown-menu dropdown-custom dropdown-menu-right">
								<li class="dropdown-header"><i class="fa fa-user"></i> Account</li>
								<li>
									<a cond="$is_logged" href="{getUrl('act','dispMemberInfo')}">내 정보</a>
									<a cond="$is_logged" href="{getUrl('act','dispMemberLogout')}">로그아웃</a>
									<a cond="!$is_logged" href="{getUrl('act','dispMemberLoginForm')}">로그인</a>
									<a cond="!$is_logged" href="{getUrl('act','dispMemberSignUpForm')}">회원가입</a>
								</li>
								<block cond="$is_logged">
									{@ $oNcenterModel = getModel('ncenter')}
									{@ $ncenter_output = $oNcenterModel->getMyNotifyList()}
									<li class="dropdown-header"><i class="fa fa-bell-o"></i> Notification <em class="badge">{$ncenter_output->page_navigation->total_count}</em></li>
									<li>
										<ul class="media-list ncenter-notification">
											<!--@foreach($ncenter_output->data as $o)-->
											<li class="media">
												<img class="img-circle pull-left" alt="Avatar" <!--@if($o->profileImage)-->src="{$o->profileImage}"<!--@else-->src="{Context::getRequestUri()}modules/ncenter/skins/default/img/p.png"<!--@end-->>
												<div class="media-body">
													<span class="text-muted pull-right"><small><em>{$o->ago}</em></small></span>
													<strong>{$o->target_nick_name}</strong>
													<p><a href="{$o->url}" class="info">{$o->text}</a></p>
												</div>
											</li>
											<!--@endforeach-->
										</ul>
									</li>
								</block>
							</ul>
						</li>
						<!-- END User Dropdown -->
					</ul>
				</div>
			</div>
		</header>
		<!-- END Header -->

		<!-- Page content -->
		<div id="page-content">
			<div class="pull-right">
				<ol class="breadcrumb">
					<li><a href="#"><i class="fa fa-home"></i></a></li>
					<li><a href="#">Profile</a></li>
					<li><a href="#">Settings</a></li>
				</ol>
			</div>

			<div class="row">
				<div class="col-lg-9"|cond="$imc" class="col-lg-12"|cond="!$imc">
					{$content}
				</div>

				<div cond="$imc" class="col-lg-3 visible-lg">
					<!-- Menu Content -->
					<ul class="nav nav-pills nav-stacked"  loop="$main_menu->list=>$key1,$val1" cond="$val1['selected']">
						<li loop="$val1['list']=>$key2,$val2" class="x{$x++}">
							<a href="{$val2['href']}" cond="$val2['text']" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window']=='Y'"><i class="fa fa-angle-right fa-fw"></i> {$val2['link']}</a>
						</li>
					</ul>
					<!-- END Menu Content -->
				</div>
			</div>
		</div>
		<!-- END Page Content -->

		<!-- Footer -->
		<footer class="clearfix">

			<div class="pull-left">
				<span id="year-copy"></span> &copy; <a href="http://goo.gl/TDOSuC" target="_blank">ProUI 1.1</a>
			</div>
			<div>
				<ul>
					<li><a href="#">개인정보보호취급방침</a></li>
					<li><a href="#">커뮤니티운영규칙</a></li>
					<li><a href="#">공지사항</a></li>
				</ul>
			</div>
			<div class="pull-right">
				Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://goo.gl/vNS3I" target="_blank">pixelcave</a>
			</div>
		</footer>
		<!-- END Footer -->
	</div>
	<!-- END Main Container -->
</div>
<!-- END Page Container -->
