@charset "utf-8";
/* Mobile XE (/modules/issuetracker/m.skins/default/) */
body{margin:0;background:#fff;color:#000;word-wrap:break-word}
body,input,textarea,select,button,table{font-family:Tahoma,Geneva,sans-serif}
img{border:0}
em{font-style:normal}
form{margin:0;padding:0}
fieldset{margin:0;padding:0;border:0}
textarea{resize:vertical}
input[type=checkbox],
input[type=radio]{width:13px;height:13px;margin:0;padding:0}
/* Common */
.fl{float:left}
.fr{float:right}
/* Header */
.hd{min-height:28px;line-height:28px;padding:6px;margin:0 0 1px 0;border-bottom:2px solid #8d7de1;background:#444 -webkit-gradient(linear,0% 0%,0% 100%,from(#434343),to(#0d0d0d));background:#444 -moz-linear-gradient(top,#434343,#0d0d0d);background-color:#444;*zoom:1}
.hd:after{content:"";margin:0 -6px;position:relative;top:9px;display:block;clear:both;height:1px;background:#6352d2}
.hd .h1{float:left;display:inline;color:#fff;font-size:24px;margin:0;font-weight:bold}
.hd .h1 a{color:#fff;text-decoration:none}
.hd .h1 img{border:0}
.hd .mu{display:inline-block;height:26px;line-height:26px;padding:0 10px;font-size:12px;font-weight:bold;color:#fff;text-decoration:none;box-shadow:0 0 1px #000;-webkit-box-shadow:0 0 1px #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#1b1b1b -webkit-gradient(linear,0% 0%,0% 100%,from(#777),to(#373737),color-stop(0.5,#323232),color-stop(0.5,#1b1b1b));background:#1b1b1b -moz-linear-gradient(top,#777,#373737);background-color:#1b1b1b}
.hd .mu:after{content:"›";margin:0 0 0 3px;font-size:24px;vertical-align:middle;position:relative;top:-2px}
.hd .muon{cursor:pointer;display:inline-block;height:26px;line-height:26px;padding:0 10px;font-size:12px;font-weight:bold;color:#fff;text-decoration:none;box-shadow:0 0 1px #000;-webkit-box-shadow:0 0 1px #000;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;background:#1b1b1b -webkit-gradient(linear,0% 0%,0% 100%,from(#777),to(#373737),color-stop(0.5,#323232),color-stop(0.5,#1b1b1b));background:#1b1b1b -moz-linear-gradient(top,#777,#373737);background-color:#1b1b1b}
.hd .muon:before{content:"‹";font-weight:bold;font-size:16px;line-height:16px;margin:0 2px 0 0;font-family:Verdana, Geneva, sans-serif}
/* Body */
.bd{background:#f8f8f8;padding:1px 0}
/* Footer */
.ft{padding:0;margin:0;list-style:none;background:#868686;overflow:hidden;*zoom:1}
.ft:after{content:"";display:block;clear:both}
.ft li{margin:0;padding:0;border:1px solid #9c9a99;border-top:0;border-bottom:0;margin:0 -1px;background:#868686}
.ft a{display:inline-block;padding:0 15px;color:#fff;text-shadow:0 0 2px #000;font-size:12px;font-weight:bold;line-height:32px;text-decoration:none}
/* Copyright */
.cr{margin:0;text-align:center;background:#f2f0ec;color:#494949;font-size:11px;line-height:26px}
/* Hx */
.hx{position:relative;border-bottom:1px solid #ccc8be;padding:8px 10px;margin:0}
.hx:after{content:"";margin:0 -10px;position:relative;top:10px;display:block;clear:both;height:1px;background:#fff}
.hx.h2{background:#e5e5e5;text-shadow:1px 1px 0 #fff}
.hx.h2 em{font-size:12px;color:#6352d2}
.hx.h3{background:#868686;color:#fff}
.hx.h3 em{font-size:12px}
.hx h2, .hx h3{margin:0 10px 0 0;display:inline}
.hx h2{font-size:16px;line-height:1.4}
.hx h3{font-size:14px}
.hx a{color:#000}
.hx .ex{font-size:12px}
.hx .tg{position:absolute;top:0;left:0;width:100%;height:100%;margin:0;padding:0;overflow:visible;border:0;cursor:pointer;opacity:0;background:none}
.hx .ca{font-size:12px;text-decoration:underline;color:#333}
.hx .ca:after{content:"";display:inline-block;position:relative;left:4px;width:0;height:0;border:4px solid;border-color:transparent;border-left-color:#8d7de1;margin:0 -8px 0 0}
.hx .write{position:absolute;top:8px;right:10px;background-position:0 0;display:inline-block;width:28px;height:27px;font-size:0;overflow:hidden;text-indent:28px}
/* LNB */
.ln{position:relative;margin:0;padding:5px 20px 0 5px;overflow:hidden;background:#666;border-top:1px solid #444;white-space:nowrap}
.ln ul{margin:0;padding:0;position:relative;left:0;list-style:none;display:inline-block}
.ln li{display:inline-block;_display:inline;vertical-align:top}
.ln a{display:inline-block;padding:5px;text-decoration:none;color:#fff;text-shadow:0 0 2px #000;white-space:nowrap;font-size:14px;letter-spacing:-1px}
.ln .active a{background:#fff;padding:8px 8px 5px 8px;color:#000;text-shadow:none;border-radius:3px 3px 0 0;-moz-border-radius:3px 3px 0 0;-webkit-border-radius:3px 3px 0 0;box-shadow:0 0 3px #000;-moz-box-shadow:0 0 3px #000;-webkit-box-shadow:0 0 3px #000}
.ln button{position:absolute;width:0;height:0;overflow:hidden;font-size:0;padding:0;top:50%;margin:-8px 0 0 0;width:10px;border:0;cursor:pointer;background:transparent;box-shadow:none;-moz-box-shadow:none;-webkit-box-shadow:none;border-radius:0;-moz-border-radius:0;-webkit-border-radius:0;opacity:.6}
.ln .next{right:-5px;border:10px solid transparent;border-left-color:#000}
.ln .prev{right:5px;border:10px solid transparent;border-right-color:#000}
/* List */
.lt{margin:0;padding:0;list-style:none;background:#f8f8f8;font-size:14px}
.lt li{border-bottom:1px solid #ccc8be}
.lt a{display:block;text-decoration:none;color:#000;padding:10px}
.lt .title{display:block;margin:0 0 5px 0}
.lt .title strong{font-size:14px;font-weight:bold}
.lt .title em{font-size:12px;color:#333;color:#6352d2}
.lt .auth{display:block;font-size:12px}
.lt .auth .time{padding:0 5px;border-left:1px solid #bfbfbf}
/* Timeline */
.tl{margin:0;padding:0;list-style:none;font-size:14px}
.tl li{border-bottom:1px solid #ccc8be}
.tl .title{display:block;margin:0;padding:10px}
.tl .summary{display:block;margin:0 0 10px 0;padding:0 10px;color:#666}
/* Extension Vars */
.xv{background:#eee;border:1px solid #ccc;padding:10px; margin:0 0 10px 0;}
.xv dt{margin:0;padding:0;font-weight:bold}
.xv dd{margin:0 0 10px 0;padding:0 0 0 10px;color:#666}
/* Graph Horizontal */
.gh{list-style:none;margin:10px;padding:0;font-size:14px}
.gh li{position:relative;margin:5px 0}
.gh .bar{position:absolute;z-index:1;height:100%;width:0;background:#ddd;left:0;top:0;}
.gh .txt{position:relative; z-index:2}
.gh em{color:#f60}
/* Toggle Open */
.tgo{display:none;background:#f8f8f8;color:#333;margin:0;padding:0;list-style:none;font-size:14px;color:#333}
.tgo.open{display:block}
.file{margin:0;padding:0;list-style:none}
.file li{border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;margin:0 0 -1px 0}
.file a{text-decoration:none;display:block;padding:10px 0 10px 10px;color:#333}
.file .size{font-size:12px;border-left:1px solid #bfbfbf;margin:0 5px;padding:0 10px;color:#666}
.rp ul{margin:10px 0 -11px -10px;padding:0;list-style:none}
.rp li{border-top:1px solid #c9c9c9;border-bottom:1px solid #c9c9c9;padding:10px 0 10px 10px;margin:0 0 -1px 0}
.rp .xe_content, .rp p{margin:0 0 5px 0}
.rp ul ul{margin-left:-25px}
.rp ul ul ul{margin-left:-40px}
.rp ul ul ul ul{margin-left:-55px}
.rp ul ul ul ul ul{margin-left:-70px}
.rp ul ul ul ul ul ul{margin-left:-85px}
.rp li li,
.rp .answer{padding-left:25px;background-position:10px -145px}
.rp li li li{padding-left:40px;background-position:25px -145px}
.rp li li li li{padding-left:55px;background-position:40px -145px}
.rp li li li li li{padding-left:70px;background-position:55px -145px}
.rp li li li li li li{padding-left:85px;background-position:70px -145px}
.rp .btn{display:inline-block;width:15px;height:15px;overflow:hidden;vertical-align:middle;text-indent:15px}
.rp .btn.ed{background-position:0 -32px}
.rp .btn.de{background-position:-15px -32px}
.rp .btn.re{background-position:-30px -32px}
.rp .auth{font-size:12px}
.rp .auth .time{padding:0 5px;border-left:1px solid #bfbfbf}
/* Form Field */
.origin{padding:10px 0;margin:0 10px;font-size:14px}
.ff{margin:0;padding:10px 0;font-size:14px}
.ff ul{margin:0 10px 10px 10px;padding:10px 0 0 0;list-style:none}
.ff li{margin:0 0 5px 0;padding:0}
.ff label+input[type=text],
.ff label+input[type=password],
.ff label+textarea,
.ff label+select{display:block;width:96%;font-size:14px;margin:0 0 5px 0}
.ff label+input[type=text],
.ff label+input[type=password],
.ff label+textarea{padding:5px}
/* Button Area */
.bna{text-align:center;padding:0 10px;margin:10px 0}
.bna:after{content:"";display:block;clear:both}
.bn{display:inline-block;line-height:26px !important;padding:0 10px;font-size:12px;font-weight:bold;border:1px solid;text-decoration:none;border-radius:5px;-moz-border-radius:5px;-webkit-border-radius:5px;cursor:pointer;vertical-align:middle}
.bn[type=submit], 
.bn[type=button]{height:28px}
.bn[href]{height:26px}
.bn.dark{border-color:#666;background:#777 -webkit-gradient(linear,0% 0%,0% 100%,from(#7e7c78),to(#5c5b58));background:#777 -moz-linear-gradient(top,#7e7c78,#5c5b58);background-color:#777;color:#fff;box-shadow:0 0 1px #fff inset;-moz-box-shadow:0 0 1px #fff inset;-webkit-box-shadow:0 0 1px #fff inset}
.bn.white{border-color:#b5b5b5;background:#1b1b1b -webkit-gradient(linear,0% 0%,0% 100%,from(#fff),to(#f6f6f6),color-stop(0.5,#f0f0f0),color-stop(0.5,#e4e4e4));background:#1b1b1b -moz-linear-gradient(top,#fff,#e4e4e4);background-color:#fff;color:#000}
/* Pagination */
.pn{font-size:12px;text-align:center;background:#f2f0ec;padding:15px 0;border-top:1px solid #fff}
.pn a{color:#333;text-decoration:none}
.pn strong{margin:0 10px}
.pn .prev:before{content:"";display:inline-block;width:0;height:0;margin:0 4px 0 0;border:4px solid;border-color:transparent;border-right-color:#999}
.pn .next:after{content:"";display:inline-block;width:0;height:0;margin:0 0 0 4px;border:4px solid;border-color:transparent;border-left-color:#999}
/* One Step Pagenation */
.ospn{background:#f8f8f8;margin:0;padding:0;list-style:none}
.ospn li{border:1px solid #bfbfbf;border-left:0;border-right:0;margin:0 0 -1px 0}
.ospn li:first-child a:before{content:"‹";font-weight:bold;font-size:16px;line-height:16px;margin:0 4px 0 0;font-family:Verdana, Geneva, sans-serif;color:#7e7d7a;display:inline-block;-o-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg)}
.ospn li:last-child a:before{content:"›";font-weight:bold;font-size:16px;line-height:16px;margin:0 4px 0 0;font-family:Verdana, Geneva, sans-serif;color:#7e7d7a;display:inline-block;-o-transform:rotate(90deg);-moz-transform:rotate(90deg);-webkit-transform:rotate(90deg)}
.ospn a{display:block;padding:8px 15px;text-decoration:none;color:#333;font-size:12px}