<?xml version="1.0" encoding="utf-8"?>
<module>
    <grants />
    <permissions />
    <actions>
        <action name="IS" type="view" standalone="true" />
        <action name="dispLuceneAdminContent" type="view" />
        <action name="dispLuceneAdminGrantInfo" type="view" />
        <action name="dispLuceneAdminSkinInfo" type="view" />
        <action name="dispLuceneAdminIndex" type="view" />
        <action name="dispLuceneAdminIndicesStatus" type="view" admin_index="true" />

        <action name="procLuceneAdminInsertConfig" type="controller" />
        <action name="procLuceneAdminInsertSkin" type="controller" />
        <action name="procLuceneAdminInsertServiceConfig" type="controller" />
    </actions>
</module>
