<load target="xe_v3_single.css" />
<load target="xe_v3_single.js" type="body" />
{@$imc=!($act=='IS'||$act=='dispProjectAccountManage'||strpos($act,'Member')!==false||strpos($act,'Communication')!==false)}
<div class="xev3sub">
	<p class="skipToContent"><a href="#content">메뉴 건너뛰기</a></p>
	<div class="header">
		<h1><a href="/">XE : Xpress Engine</a></h1>
		<div class="account">
			<a cond="!$is_logged" href="{getUrl('act','dispMemberLoginForm')}" class="log">로그인</a>
			<a cond="$is_logged" href="{getUrl('act','dispMemberLogout')}" class="log">로그아웃</a>
			<a cond="$is_logged" href="{getUrl('act','dispMemberInfo', 'member_srl', '')}">마이페이지</a>
			<a cond="!$is_logged" href="{getUrl('act','dispMemberSignUpForm')}">회원가입</a>
			<a href="https://github.com/xpressengine" class="project" target="blank">XE github project</a>
		</div>
		<div class="gnb">
			<ul>{@$m=1;}
				<li loop="$main_menu->list=>$key1,$val1" class="m{$m++}"><a href="{$val1['href']}" class="active"|cond="$val1['selected']" target="_blank"|cond="$val1['open_window']=='Y'">{$val1['link']}</a>
					<ul cond="$val1['list']">{@$s=1;}
						<li loop="$val1['list']=>$key2,$val2" class="s{$s++}"><a href="{$val2['href']}" cond="$val2['text']" class="active"|cond="$val2['selected']" target="_blank"|cond="$val2['open_window']=='Y'">{$val2['link']}</a></li>
					</ul>
				</li>
			</ul>
		</div>
		<hr class="hr" />

		{@ $titleImg = array('privacy'=>'privacy', 'findemail'=>'privacy', 'download'=>'download', 'download_xe'=>'download', 'sitemap'=>'sitemap', 'notice'=>'intro', 'releases'=>'intro', 'communityRule'=>'visual', 'communityRule' => 'communityRule')}

		<div class="visual" cond="$imc">
			<img src="./title_img/{$titleImg[$mid]}.jpg"
			alt="XE core 및 구성요소의 안정버전 배포 - XE의 안정버전을 배포하는 곳입니다. 최신 버전을 사용하고 싶으신 분은 프로젝트에서 직접 코드를 내려받을 수 있습니다."|cond="$mid=='download'"
			alt="XE 개인정보취급방침 - XE는 관련 법령에 의한 개인정보취급방침을 정하여 이용자 권익 보호에 최선을 다하고 있습니다."|cond="$mid=='privacy'"
			alt="XE 콘텐츠를 한눈에 - XE의 전체 메뉴를 확인 하실 수 있는 공간입니다."|cond="$mid=='sitemap'"
			/>
		</div>
		<div class="path" cond="$imc">
			<a href="/" class="home"><span>Home</span></a> &gt; <a href="{$current_url}">{$module_info->browser_title}</a>
		</div>

	</div>
	<hr class="hr" />
	<div class="body">
		<div class="content" id="content" style="padding:0;"|cond="$mid == 'download'">{$content}</div>
	</div>
	<hr class="hr" />
	<div class="footer">
		<p>Xpress Engine. Copyright NAVER Corp. All rights reserved.</p>
		<a href="/privacy">개인정보보호취급방침</a>
		<a href="/communityRule">커뮤니티운영규칙</a>
		<a href="/zb4_main">제로보드4</a>
		<a href="mailto:contact@xpressengine.com">contact@xpressengine.com</a>
	</div>
</div>
