@charset "utf-8";
/* NHN (developers@xpressengine.com) */

/* Pagination Reset */
.pagination{padding:15px 0;margin:0;text-align:center}
.pagination.aLeft{text-align:left}
.pagination.aRight{text-align:right}
.pagination *{margin:0;padding:0}
.pagination img{border:0}
.pagination a,
.pagination strong{position:relative;display:inline-block;text-decoration:none;line-height:normal;color:#333;font-family:Tahoma, Sans-serif;vertical-align:middle}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important}
.pagination strong{color:#ff6600 !important}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{font-weight:normal !important;border:none !important;margin:0 !important;white-space:nowrap}

/* Pagination Textyle */
.pagination a,
.pagination strong{margin:0 2px;padding:1px 2px;font-size:12px}
.pagination a.prev,
.pagination a.prevEnd,
.pagination a.next,
.pagination a.nextEnd{display:inline-block;width:18px;height:19px;padding:0;margin:0;background-image:url(../img/buttonPagination.gif);background-repeat:no-repeat}
.pagination a.prev,
.pagination a.prevEnd{background-position:left top;margin-right:5px !important}
.pagination a.next,
.pagination a.nextEnd{background-position:right top;margin-left:5px !important}
.pagination a.prev span,
.pagination a.prevEnd span,
.pagination a.next span,
.pagination a.nextEnd span{position:absolute;width:0;height:0;overflow:hidden;visibility:hidden;font-size:0;line-height:0}
.pagination a:hover,
.pagination a:active,
.pagination a:focus{background-color:#f4f4f4 !important;border:1px solid #ececec;margin:-1px 1px;-moz-border-radius:2px;-webkit-border-radius:2px}
