<include target="_header.html" />

<h2 class="sr-only">dispProfileView</h2>

<div class="row">
	<div class="col-md-6 col-lg-6">
		<h3 class="sr-only">프로필</h3>
		<div class="widget">
			<div class="widget-advanced">
				<!-- Widget Header -->

				<div class="widget-header text-center themed-background-dark">
					<div class="widget-options">
						<button cond="$profile->is_owner" class="btn btn-xs btn-default" data-toggle="modal" data-target="#modal-profile-edit"><i class="fa fa-pencil"></i> 프로필 편집</button>
						<button cond="!$profile->is_owner" title="Love it!" data-toggle="tooltip" class="btn btn-xs btn-default"><i class="fa fa-heart text-danger"></i></button>
					</div>
					<h3 class="widget-content-light">
						<a class="themed-color-fire" href="page_ready_elearning_course_lessons.html">{$profile->member->nick_name}</a><br>
						<small>{$profile->member->user_name}</small>
					</h3>
				</div>
				<!-- END Widget Header -->
				<div class="widget-main">
					<div class="widget-image-container animation-fadeIn">
						<img src="{$profile->member->profile_image}" class="img-circle" style="width:64px;">
					</div>
					<p>{$profile->member->signature}</p>
				</div>
				<div class="widget-extra">
					<div class="row text-center themed-background">
						<div class="col-md-3 col-sm-6">
							<div class="widget-content-light">
								{$profile->likes} <br><small>Likes</small>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget-content-light">
								789 <br><small>Plugins</small>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget-content-light">
								123 <br><small>Documents</small>
							</div>
						</div>
						<div class="col-md-3 col-sm-6">
							<div class="widget-content-light">
								456 <br><small>Comments</small>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="block">
			<!-- Timeline Style Title -->
			<div class="block-title">
				<h2>Timeline</h2>
			</div>
			<!-- END Timeline Style Title -->

			<!-- Timeline Style Content -->
			<!-- You can remove the class .block-content-full if you want the block to have its regular padding -->
			<div class="timeline block-content-full">
				<!-- You can remove the class .timeline-hover if you don't want each event to be highlighted on mouse hover -->
				<ul class="timeline-list timeline-hover">
					<li loop="$timeline->data => $item" class="active"|cond="$item->msg_type == 'xe.add-document'">
						<div class="timeline-icon">
							<i class="fa fa-file-text" cond="$item->msg_type == 'xe.add-document'"></i>
							<i class="fa fa-comments" cond="$item->msg_type == 'xe.add-comment'"></i>
						</div>
						<div class="timeline-time timeago" title="{date('Y-m-d\TH:i:s\Z+0900', $item->regdate)}"><strong>{date('H:i', $item->regdate)}</strong> {date('m-d', $item->regdate)}</div>
						<div class="timeline-content">
							<p class="push-bit" cond="$item->msg_type == 'xe.add-document'"><strong>{$item->metadata->title}</strong> 게시</p>
							<p class="push-bit" cond="$item->msg_type == 'xe.add-comment'"><strong>{$item->metadata->title}</strong>에 댓글 게시</p>
							{$item->metadata->summary}
						</div>
					</li>
				</ul>
			</div>
			<!-- END Timeline Style Content -->
		</div>
	</div>
	<div class="col-md-6 col-lg-6">
	</div>

	<div class="col-md-6 col-lg-6">
		<div class="block">
			<div class="block-title sr-only">
				<h2><strong>Promotion</strong> banner</h2>
			</div>

			<div class="gallery">
				<div class="row">
					<div class="col-md-12 gallery-image" data-banner-id="1">
						<img alt="image" src="./ba.png" style="">
						<div cond="$profile->is_owner" class="gallery-image-options text-center">
							<div class="btn-group btn-group-sm">
								<button class="btn btn-primary" data-toggle="modal" data-target="#modal-promotion-banner-edit"><i class="fa fa-pencil"></i> 편집</button>
								<button class="btn btn-warning btn-delete-banner"><i class="fa fa-times"></i> 삭제</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 gallery-image" data-banner-id="2">
						<img alt="image" src="./ba.png" style="">
						<div cond="$profile->is_owner" class="gallery-image-options text-center">
							<div class="btn-group btn-group-sm">
								<button class="btn btn-primary" data-toggle="modal" data-target="#modal-promotion-banner-edit"><i class="fa fa-pencil"></i> 편집</button>
								<button class="btn btn-warning btn-delete-banner"><i class="fa fa-times"></i> 삭제</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 gallery-image" data-banner-id="3">
						<img alt="image" src="./ba.png" style="">
						<div cond="$profile->is_owner" class="gallery-image-options text-center">
							<div class="btn-group btn-group-sm">
								<button class="btn btn-primary" data-toggle="modal" data-target="#modal-promotion-banner-edit"><i class="fa fa-pencil"></i> 편집</button>
								<button class="btn btn-warning btn-delete-banner"><i class="fa fa-times"></i> 삭제</button>
							</div>
						</div>
					</div>
					<div class="col-md-12 gallery-image" data-banner-id="4">
						<img alt="image" src="./ba.png" style="">
						<div cond="$profile->is_owner" class="gallery-image-options text-center">
							<div class="btn-group btn-group-sm">
								<button class="btn btn-primary" data-toggle="modal" data-target="#modal-promotion-banner-edit"><i class="fa fa-pencil"></i> 편집</button>
								<button class="btn btn-warning btn-delete-banner"><i class="fa fa-times"></i> 삭제</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>

		<div class="block">
			<!-- Single Image Title -->
			<div class="block-title sr-only">
				<h2><strong>Package</strong></h2>
			</div>
			<!-- END Single Image Title -->

			<!-- Single Image Content -->
			<ul class="media-list package-list">
				<li loop="$package_list => $package" cond="$package->status == 'accepted' && $package->version" class="media">
					{@ $package->url = getUrl('', 'mid','download', 'package_srl',$package->package_srl)}
					<a class="pull-left" href="{$package->url}">
						<img src="{$package->screenshot_url}">
					</a>
					<div class="media-body">
						<span class="text-muted pull-right"><small><em>{zdate($package->regdate, 'Y-m-d')}</em></small></span>
						<a href="{$package->url}"><strong>{$package->title}</strong></a>
						<p>{$package->description}</p>
					</div>
				</li>
			</ul>
			<!-- END Single Image Content -->
		</div>
	</div>
</div>



<include target="_inc.setting.html" cond="$profile->is_owner" />
