@charset "utf-8";
/* NHN (developers@xpressengine.com) */
/* Button */
.buttonOfficial,
.buttonOfficial * {position:relative;vertical-align:top !important;display:inline-block;height:25px;font-size:12px;line-height:25px;color:#4d4d4d;cursor:pointer;background-image:url(../img/white/buttonOfficial.gif);background-repeat:no-repeat;text-decoration:none !important;overflow:visible;border:0;padding:0;background-color:transparent}
.buttonOfficial {background-position:left top;margin-right:4px}
.buttonOfficial * {left:4px;background-position:right top;padding:0 8px 0 4px}
a.buttonOfficial {_margin-top:-1px}
a.buttonOfficial span {_vertical-align:top}
